<section id="home" class="min-h-[75dvh] snap-start pt-14 pb-4 w-full">
  <header>
    <h1 class="text-xl font-bold">Nicolás Giménez</h1>
    <h2 class="text-sm font-normal opacity-70">Desarrollador Full Stack</h2>
  </header>
  <article class="mt-4 text-pretty">
    <p>
      ¡Bienvenido a mi Portafolio! Esta sección es de presentación, por lo que
      no verás nada muy importante.
    </p>
    <p>
      Haciendo uso de tecnologías como <span class="font-bold text-main-500"
        >Next.js/React/Astro, Node y Express</span
      > soy capaz de cumplir los requerimientos que se me soliciten.
    </p>
    <br />
    <p>¡Que tengas buena estadía!</p>
    <br />
    <a
      class="flex items-center px-4 hover:bg-main-700 transition hover:scale-110 gap-2 rounded-lg bg-main-900 w-fit text-sm"
      href="https://docs.google.com/document/d/1qWyeH6ZjOhQhbyaRH5WpNxi4p0xmwzxKASdJSi8UcKk/edit"
      target="_blank"
    >
      <img width="40" src="/imgs/resume.svg" alt="logo" />
      <span>Ver CV</span>
    </a>
  </article>
</section>
