<section id="home" class="snap-start py-14 w-full">
  <header>
    <h1 class="text-xl font-bold">Nicolás Giménez</h1>
    <h2 class="text-sm font-normal opacity-70">Desarrollador Full Stack</h2>
  </header>
  <article class="mt-4 text-pretty">
    <p>
      ¡Hola! Me llamo Nicolás, aunque me dicen Tuty. Soy un desarrollador web
      que, además de crear aplicaciones/sitios, le apasiona crear herramientas
      que mejoren la calidad de vida o productividad de los usuarios. Tomo el
      hecho de adquirir nuevos conocimientos como un desafío, ya que busco
      comprender cómo funcionan por debajo las tecnologías o herramientas que
      van surgiendo con el paso del tiempo.
    </p>
    <br />
    <a
      class="flex items-center px-4 hover:bg-main-700 transition hover:scale-110 gap-2 rounded-lg bg-main-900 w-fit text-sm"
      href="https://drive.google.com/file/d/10Saa0bYHUriSuhT2Dnonh0p2aX3-_G46/view?usp=sharing"
      target="_blank"
    >
      <img width="40" src="/imgs/resume.svg" alt="logo" />
      <span>Ver CV</span>
    </a>
  </article>
</section>
