---
import experiences from "./experiences.json";
import Card from "./Card.astro";
---

<section id="experience" class="min-h-screen snap-start py-16 w-full">
  <h1 class="text-xl font-bold mb-8">Trabajos</h1>
  <div class="grid grid-cols-[repeat(auto-fill,minmax(320px,1fr))] gap-8">
    {experiences.map((experience) => <Card experience={experience} />)}
  </div>
</section>
