---
interface Props {
  title: string;
}

import "@fontsource/press-start-2p";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Desarrollador FullStack" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpeg" href="/imgs/logo.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-gradient-to-b from-main-900 to-main-800 text-main-300 relative min-h-screen overflow-y-scroll"
  >
    <slot />
  </body>
</html>

<style>
  html {
    font-family: "Press Start 2P", system-ui, sans-serif;
    scroll-timeline: --scrolltime block;
  }
</style>
